.grid-container {
    display: grid;
    grid-template-areas:
            "header header header header header header"
            "nav nav nav nav nav nav"
            "big-container big-container big-container big-container big-container big-container"
            "footer footer footer footer footer footer";
    gap: 20px;
    padding: 50px;
    border-radius: 10px;

    color: rgba(190, 255, 240, 0.98);
}
.big-container {
    grid-area: big-container;
    background: linear-gradient(180deg, rgba(207, 255, 248, 1) 5%, rgba(18, 149, 157, 1) 35%, rgba(26, 120, 112, 1) 60%, rgba(35, 89, 64, 1) 95%);
    min-height: 300px;
    max-height: 400px;
    border: 2px solid black;
    padding-bottom: 200px;
    border-radius: 10px;
    text-align: center;
    overflow: scroll;
}
.big-container::-webkit-scrollbar {
    display: none;
}
@media (max-width: 1040px) {
    .grid-container{
        grid-template-areas:
            "header header header header header header"
            "nav nav nav nav nav nav"
            "nav nav nav nav nav nav"
            "nav nav nav nav nav nav"
            "nav nav nav nav nav nav"
            "big-container big-container big-container big-container big-container big-container"
            "boxes boxes boxes boxes boxes boxes"
            "footer footer footer footer footer footer";
    }
    nav {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        gap: 1px;
        justify-content: stretch;
    }
}
@media(max-width: 767px) {
    .boxes {
        grid-template-columns: none;
        grid-template-rows: repeat(4, 1fr);
        justify-content: stretch;
    }
    .box {
        min-height: 400px;
    }
}