html {
    background-image: url("img/background/backgroundImage.jpg");
    font-family: "Times New Roman", Times, serif;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 2px 0 #000, 1px 1px 0 #000;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

header {
    grid-area: header;
    justify-self: stretch;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    background-image: url("img/background/clouds.jpg");
}

footer {
    grid-area: footer;
    justify-self: stretch;
    align-self: stretch;
    text-align: center;
    margin-top: 5%;
    color: black;
    text-shadow: none;
}

nav {
    grid-area: nav;
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
}

nav > input {
    padding: 10px 50px;
    border-radius: 10px;
    border: 2px solid black;
}

nav > input:hover {
    background-color: grey;
}
h2 {
    font-size: 35px;
}

h3 {
    font-size: 25px;
}

p {
    font-size: 20px;
}
section{
    z-index: 10;
}
section > p:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
section > input:hover {
    background-color: grey;
}
input {
    border-radius: 10px;
    font-size: 20px;
}
input:invalid{
    border: 2px solid red;
}
