.grid-container {
    display: grid;
    grid-template-areas:
            "header header header header header header"
            "nav nav nav nav nav nav"
            "boxes boxes boxes boxes boxes boxes"
            "footer footer footer footer footer footer";
    gap: 20px;
    padding: 50px;
    border-radius: 10px;

    color: rgba(190, 255, 240, 0.98);
}

.big-container {
    grid-area: big-container;
    min-height: 300px;
    max-height: 366px;
    max-width: 640px;
    border: 2px solid black;
    padding-bottom: 200px;
    border-radius: 10px;
    text-align: center;
    flex: 1 auto;
}

.big-container::-webkit-scrollbar {
    display: none;
}

.boxes {
    grid-area: boxes;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.reviewBoxes {
    background: rgb(207, 255, 248);
    background: linear-gradient(180deg, rgba(207, 255, 248, 1) 5%, rgba(18, 149, 157, 1) 35%, rgba(26, 120, 112, 1) 60%, rgba(35, 89, 64, 1) 95%);
    align-items: stretch;
    max-width: 530px;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}

textarea {
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    justify-self: center;
    align-self: center;
}

textarea:invalid {
    border: 2px solid red;
}

@media (max-width: 1040px) {
    nav {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        gap: 1px;
        justify-content: stretch;
    }
}

@media (max-width: 767px) {
    .boxes {
        justify-content: center;
    }
    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 23px;
    }

    p {
        font-size: 17px;

    }
}
@media (max-width: 500px) {
    .grid-container {
        padding: 10px;
    }
}
.austria {
    background-image: url("../austria/img/austria big.jpg");
}

.cuba {
    background-image: url("../cuba/img/cuba big.jpg");
}

.canarie {
    background-image: url("../canaries/img/canarie-islands-big.jpg");
}

.japan {
    background-image: url("../japan/img/japan big.jpg");
}

.gambia {
    background-image: url("../gambia/img/gambia.jpg");
}

img {
    display: none;
}